<header>
  <% if back %>
    <%= link_to icon('fa-solid fa-chevron-left'), back %>
  <% else %>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  <% end %>
</header>

<%= render 'shared/flash' %>
<%= render 'shared/popup' %>
